
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
font-family: Bebas;
src: url('../fonts/BebasKai-Regular.otf');
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.red {
  color: #611427;
}

.gray {
  color: #1D2326;
}

.blue {
  color: #041C26;
}

html,
body {
width: 100%;
height: 100%;
color: #fff;
background-image: url("../img/bg.png");
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-weight: 700;
}

a {
text-decoration: none;
color: #fff;
}

.btn {
border: 1.5px solid #fff;
border-radius: 0.75rem;
padding: 0.75rem 1.25rem;
transition: all 0.3s ease-in-out;
}

.btnRed:hover {
background: #fff;
color: #611427;
}

.btnGray:hover {
background: #fff;
color: #1D2326;
}

.btnInfo:hover {
background: #fff;
color: #136384;
}

.wrapper {
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
perspective: 300px;
}

.parallax__group {
position: relative;
height: 100vh;
width: 100vw;
}

.parallax__layer {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.hero-text h2 {
margin-top: 10px;
margin-left: 1%;
font-size: 1.25rem;
left: 2.5rem;
}

.hero-text ul {
margin-top: -10px;
margin-right: 2%;
font-size: 0.75rem;
float: right;
}

.hero-text ul li {
margin-left: 2.5rem;
list-style-type: none;
float: left;
visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
visibility: visible;
}

.info-container {
background-color: #136384;
z-index: 8;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.info-container img {
width: 75%;
margin-bottom: 2.5rem;
filter: saturate(0.65);
}

.info-container h2,
.info-container p {
margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
font-weight: 400;
font-size: 0.75rem;
margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
font-size: 0.6rem;
margin-bottom: 3rem;
}

@media (min-width: 760px) {
.hero-text ul li {
  visibility: visible;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  align-items: center;
  text-align: left;
}

.info-container img {
  justify-self: end;
  width: 75%;
}

.info-container {
  background-size: 100% 100%;
}

.text-container p:nth-of-type(1) {
  font-size: 1rem;
  width: 75%;
  margin: 1rem 0;
}

.text-container p:nth-of-type(1) {
  font-size: 0.86rem;
}
}

@media (min-width: 1126px) {
.bg,
.text,
.conf,
.hero-text {
  background-size: contain;
}
}
